.input-color-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.radio-color-inner {
    cursor: pointer;
    position: relative;

    input[type="radio"] {
        display: none;
    }

    .outer-circle {
        background-color: var(--shape-button);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        transition: background .2s ease-in-out, outline .1s ease-in-out;
    }

    .color-img {
        background-color: var(--color);
        border-radius: 50%;
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &:has(:checked) {
        .outer-circle {
            outline: 2px solid var(--brand-light);
            outline-offset: -2px;
        }
    }

    &:hover {
        .outer-circle {
            background-color: var(--shape-hover);
        }
    }
}