* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-leckerli: "Leckerli One", cursive;
    --font-baloo: "Baloo 2", sans-serif;
    --font-open: "Open Sans", sans-serif;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --feedback-color: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}