input, textarea {
    appearance: none;
    width: 100%;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: .8125rem 1rem;

    font: var(--body-md);
    color: var(--text-heading);
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border-color: var(--brand-light);
    outline: none;
}

input:not(:focus):valid + .error,
textarea:not(:focus):valid + .error {
    display: none;
}

input[type="datetime-local"] {
    color: var(--input-placeholder);
    text-transform: uppercase;
    cursor: text;
    
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.error {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-bottom: .5rem;

    span {
        font: var(--body-xs);
    }
}

input:invalid + .error,
textarea:invalid + .error {
    color: var(--feedback-color);

    & svg path {
        fill: var(--feedback-color);
    }
}

input:invalid, textarea:invalid {
    border-color: var(--feedback-color);
}
