#app {
    max-width: 80rem;
    display: grid;
    grid-template-columns: 34.375% 65.625%;

    height: 100vh;
    overflow: hidden;
}

aside {
    margin: 1.25rem;
    
    & .aside-container {
        border-radius: .75rem;
        padding: 2rem 2rem 0;
        max-width: 25rem;
        height: 45.5rem;

        background: linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%), 
        url(/assets/background.svg) center/cover;
        
        & > img {
            max-width: 2.865rem;
        }
    }

    h1 {
        font: var(--text-logo);
        color: #FF598B;
        padding-top: 1rem;
        padding-bottom: .25rem;
    }

    & p {
        font: var(--body-md);
        font-weight: 300;
        color: var(--text-heading);
    }
}

main {
    overflow-x: auto;
    margin: 1.25rem 1.25rem 1.25rem 0;
    
    & .main-container {
        border-radius: .75rem;
        background-color: var(--shape-body);
        display: flex;
        flex-direction: column;
        max-width: 51.25rem;
        padding: 5rem 8.125rem;
    }

    & .fieldset-wrapper {
        border: none;
        display: grid;
        gap: 1rem;
    }

    & .about-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .75rem;
        margin-bottom: 1.625rem;
    }

    & .input-wrapper {
        display: grid;
        gap: .75rem;
    }

    & .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    & .header-container {
        display: flex;
        align-items: center;
        gap: .75rem;
        margin-top: 3rem;
        margin-bottom: .625rem;
    }
}