.slider-file-container {
    margin-top: .75rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.selectzone {
    input[type="file"] {
        display: none;
    }

    & > label {
        display: flex;
        align-items: center;
        gap: .5rem;

        .button-wrapper {
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: var(--shape-button);
            border-radius: .5rem;
            max-width: 7.4375rem;
            padding: .75rem;
        }

        color: var(--text-heading);

        cursor: pointer;

        &:hover {
            background-color: var(--shape-hover);
        }
    }
    
    label::after {
        content: "Nenhum arquivo selecionado";
        font: var(--body-md);
        color: var(--input-placeholder);
    }
}