.radio-type-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .25rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    padding: .25rem;

    & input {
        display: none;
    }
    
    & .radio-label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 100%;

        color: var(--text-body);
        padding: .75rem 1.125rem;
        border-radius: .25rem;
        cursor: pointer;
        transition: background 0.2s;
    }

    & input:checked + .radio-label {
        background-color: var(--shape-button);
        color: var(--text-heading);
        
        & svg path {
            fill: var(--brand-light)
        }
    }
}